body,
html,
#root {
  height: 100%;
  margin: 0 !important;
  font: 16px/1.2 Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif !important;
}

* {
  font-family: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue, Helvetica, Arial', Lucida Grande, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  padding: 0rem;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

.flex-grow-auto {
  flex: 1 0 0;
}

/* overrides */
.text-primary {
  color: #005BEA !important;
}

.app-btn.ant-btn {
  background: #FED305;
  mix-blend-mode: normal;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.75);
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}